<div id="quiz">
  <p id="temporizador" style="display: contents; color: red;" title="{{ timeLeft }}">{{ timeLeft }}</p>
  <h2 id="question">{{ currentQuestion.question }}</h2>

  <p id="progress">QUESTOES</p>
  <div id="choices">
    <button class="button" id="btn0" (click)="checkAnswer(0)">{{ currentQuestion.choices[0] }}</button>
    <button class="button" id="btn1" (click)="checkAnswer(1)">{{ currentQuestion.choices[1] }}</button>
    <button class="button" id="btn2" (click)="checkAnswer(2)">{{ currentQuestion.choices[2] }}</button>
  </div>
</div>
