.home {
  position: relative;
}

#banner {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

app-header {
  position: absolute;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

h1{
  color: #0f0000;
  font-size: 70px;
}

button {
  background-color: #373435;
  border: #fff solid 2px;
  color: #fff;
  width: 200px;
  font-size: 25px;
  border-radius: 0.3rem;
  padding: 15px 20px;
  margin: 30px 40px 10px;
  transition: 0.5s;
}
